/* https://mycolor.space/?hex=%23101E38&sub=1 */

/* color-yellow: #8e9295
	color-blue-light: #82b4d7;
	color-blur-light-two: #2a669b;
*/

/* 
	color-yellow: #fff7d6;
	color-blue-background: #101e38;
	color-blue-light: #2490ff;
	color-gray-light: #727687;

*/

/* General styles */
body {
  background-color: #101e38;
  color: #f5f9ff;
  min-height: 100vh;
}

/* Test clases */
.red {
  border: 1px solid red;
}

.blue {
  border: 1px solid blue;
}

.gray {
  border: 1px solid gray;
}

.yellow {
  border: 1px solid yellow;
}

/* Container styles */
.container {
}

/* Hero styles */

.title {
  color: #2490ff;
}

.subtitle {
  color: #727687;
}
